body {
    background-color: #090314;
    background-image: url("../../images/brickwall.jpg");
    background-size: 150vw;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: snow;
    line-height: 40%;
}
h1 {
    font-family: iceland;
    font-size: 60pt;
    padding: 0px;
}
h2 {
    font-family: nico moji;
    font-size: 30pt;
    padding: 0px;
}
.neon {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }


  #navigation {
    display: flex;
    justify-content: space-around;
    height: 30vh;
    margin-top: 80px;
  }
  .nav-option {
    margin: 1px;
    width: 30%;
    height: 80%;
    margin-top: 40px;
  }
  .nav-option a{
    width: 100%;
    color: #42c4db;
    line-height: 110%;
    text-decoration: none;
    display: block;
  }
 .nav-option .nav-link-eng {
    font-family: iceland;
    font-size: 30pt;
}
  .nav-link-jp {
    font-family: nico moji;
    font-size: 15pt;
}
  .nav-option:hover .nav-link-eng {
    font-size: 40pt;
  }
  .nav-option:hover .nav-link-jp {
    font-size: 20pt;
  }
  .nav-option:hover a, .nav-option:hover h4 {
    color: snow;
    -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate;
  }

  @keyframes glow2 {
    from {
       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00d7e6, 0 0 40px #00d7e6, 0 0 50px #00d7e6, 0 0 60px #00d7e6, 0 0 70px #00d7e6;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #42c4db, 0 0 40px #42c4db, 0 0 50px #42c4db, 0 0 60px #42c4db, 0 0 70px #42c4db, 0 0 80px #42c4db;
    }
  }

  .nav-option:hover {
    width: 40%;
    height: 100%;
    margin-top: 15px;
  }
  